.arrowUp-icon {
  width: 16px;
  height: 16px;
}

.overview-description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #414047;
}

.link-icon {
  width: 22px;
  height: 22px;
}

.link-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #587BE0;
}