.activities-icon {
  width: 35px;
  height: 35px;
  margin-right: 16px;
}

.activities-description {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0px;
}

.activities-user {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #6F6E73;
}